.main-root {
  padding-left: 30px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". content" "menu content" ". content";
}


.menu-routes {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content {
  grid-area: content;
  display: flex;
  flex: 1;
}

.about-me {
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}