.App {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
  grid-template-rows: 0.15fr 1fr 0.15fr;
  grid-template-areas: "header header header header header" ". left center right ." "footer footer footer footer footer";
  gap: 40px 40px;
}

.left {
  grid-area: left;
}

.center {
  grid-area: center;
  background-color: rgb(184, 162, 154);
}

.right {
  grid-area: right;
  background-color: rgb(163, 198, 156);
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}
