html {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.05fr 1fr;
  grid-template-areas: "header header" "content content";
}

.header {
  height: inherit;
  width: inherit;
  position: absolute;
  grid-area: header;
  background-color: #110e0e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background-title {
  margin: 0;
  color: rgba(235, 235, 173, 0.034);
  font-size: 29rem;
}

.content {
  grid-area: content;
  background-color: transparent;
  z-index: 1;
}
