.about-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.pink-box {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  background-color: hotpink;
  height: 100px;
  width: 700;
  margin-left: 30;
  color: #fff;
}
