@import "../../appConfigs/sass/mixins.scss";

.cardContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;
  &.flipped {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }
  .front,
  .back {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: block;
    background: white;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);

    /* front tile styles go here! */
  }
  .back {
    background: white;
    transform: rotateY(-180deg);
    /* back tile styles go here! */
  }
}
